.contacts {
    font-style: normal;
  }
  .contacts__phone {
    line-height: 1;
    font-family: "Open Sans";
    font-size: 26px;
    display: block;
    margin-top: 11px;
  }
  .contacts__shedule {
    text-align: right;
    font-size: 13px;
    line-height: 1;
    margin-top: 5px;
    position: relative;
    text-decoration: underline;
  }
  .contacts__info {
    text-align: right;
    font-size: 11px;
    line-height: 1;
  }
  