/*games page*/


.top-line {
  min-height: 412px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-line::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../img/1.png) center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1);
  background-color: #17191c;

}

.top-line__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 105px;
  color: #fff;
}



.first-item:after {
  padding-left: 2px;
  color: #9a9a9a;
  content: "/\00a0";
}

/*week-news games page */
.games {
  color: black;
  background: #FFFFFF;
  padding: 98px 0 84px;
}
.games__header{
  border-radius: 5px;
  max-width: 460px;
  min-height: 333px;
  margin-right: 56px;
  flex-shrink: 0;
}
.games__list{
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.games__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 28px;
}

.games__desc{
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 34px;
}

.games__games {
  background: #ffffff;
}

.games__img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.games__item{
  display: flex;
  margin-bottom: 49px;
}
.games__item:last-child{
  margin-bottom: 0;
}

.games__content{
  padding-top: 14px;
}

.games__button{
  padding: 18px 40px;
}


