.header {
  padding-top: 20px;
  margin-bottom: 134px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--shoulders {
  padding-top: 22px;
  color: #fff;
  margin-bottom: 0;
}

.header__nav-bar {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 66px;
  font-size: 16px;
  line-height: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #ffffff;
}
.active {
  color: #8f00ff;
}

.submenu {
  position: absolute;
  top: 70px;
  right: 3px;
  opacity: 0;
  background: #ededed;
  color: #1e1f20;
  padding: 12px 18px 13px;
  border-radius: 5px;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0 0 5px #e7e7e7;
}
.submenu::before {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  right: 42px;
  top: -20px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-bottom: 10px solid #ededed; /* Добавляем треугольник */
}

.header__contacts:hover .submenu {
  opacity: 1;
  visibility: visible;
}
.submenu__work-time {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
}
.submenu__lanch {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
}
.logo {
  white-space: nowrap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  background: linear-gradient(87.62deg, #8f00ff -2.44%, #00a3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*header end*/
